<div>
  <mat-card *ngIf="isBuying" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{MockBody.description}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/bulma.jpg" alt="Bulma">
    <button mat-button (click)="gerarPix()">Gerar PIX</button>
  </mat-card>
  <div *ngIf="!isBuying" class="pix-container">
    <h2>Pagamento via PIX</h2>
    <div *ngIf="qrCode">
      <img class="qr-code" [src]="qrCode" alt="QR Code" />
    </div>

    <div class="key-container">
      <h3>Chave Aleatória</h3>
      <p>{{ randomKey }}</p>
      <button (click)="copyToClipboard(randomKey)">Copiar Chave</button>
      <button (click)="restartPixProcess()">Voltar para Compra</button>
    </div>

    <div class="expiration-container">
      <h3>Data de Expiração</h3>
      <p>{{ expirationDate }}</p>
    </div>
  </div>
</div>
